* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins , Arial, Helvetica, sans-serif;
}

.container {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.todo-box {
    border: 1px solid black;
    padding: 20px;
    background-color: brown;
}